<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.rpa.order.mapper.OrderMapper">
	
	<!-- 주문 상품 정보 -->
	<select id="getGoodsInfo" resultType="com.rpa.order.domain.OrderPageItemDto">
		select 
			goods_swID, goods_swName, goods_swPrice, goods_swDiscount
		from 
			goods_sportsWear 
		where 
			goods_swId = #{goods_swID}
	</select>
	
  </mapper>
  
