<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.rpa.admin.goods.sportswear.mapper.Admin_Goods_SportswearMapper">
	
	<!-- <select id="count" resultType="int">
        SELECT count(*) FROM goods_sportswear
    </select>
	
	<delete id="deleteAll">
        DELETE FROM goods_sportswear
    </delete>
	
	<delete id="delete" parameterType="map">
        DELETE FROM goods_sportswear WHERE goods_swId = #{goods_swId} and writer = #{writer}
    </delete> -->
	
	
	<insert id="swInsert">
	insert into goods_sportsWear
	(goods_swId, goods_swName, goods_swPrice, goods_swStock, goods_swDetail)
	values
	(seq_Goods_sportsWear.nextval, #{goods_swName}, #{goods_swPrice}, #{goods_swStock}, #{goods_swDetail})
	</insert>
	
	<!-- <select id="swGetList" resultType="com.rpa.goods.sportswear.domain.SportswearDto">
    select * from goods_sportswear where goods_swId > 0 ORDER BY goods_swId DESC
 	</select>
	
	
	<select id="testSel" resultType="com.rpa.goods.sportswear.domain.SportswearDto">
	select * from goods_sportsWear
	</select> -->
	


  </mapper>