<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.rpa.admin.goods.sportswear.mapper.Admin_Goods_SportswearMapper">
	
	<!-- 등록 -->
	<insert id="swInsert">
		<selectKey resultType="Long" keyProperty="goods_swID" order="AFTER">
  			select
  			seq_Goods_sportsWear.currval
  			from dual
  		</selectKey>
  		
		insert into goods_sportsWear
		(goods_swID, goods_swName, goods_swPrice, goods_swStock, goods_swDetail, goods_swDiscount)
		values
		(seq_Goods_sportsWear.nextval, #{goods_swName}, #{goods_swPrice}, #{goods_swStock}, #{goods_swDetail}, #{goods_swDiscount})
	</insert>
	
	<!-- 목록 -->
	<select id="swGetList" resultType="com.rpa.goods.sportswear.domain.SportswearDto">
	    <![CDATA[
	         select * 
	           from (
	              select /*+INDEX_DESC(goods_sportswear idx_goods_sportswear)*/ 
	              rownum as rn, 
	              goods_swId, goods_swName, 
	              goods_swPrice, goods_swStock, 
	              goods_swDetail,goods_swDiscount,
	              goods_swRegDate, goods_swUpdateDate
	              from goods_sportswear 
	            where 
	    ]]>         
	            <if test="keyword != null">
	                goods_swName like '%'||#{keyword}||'%' and
	            </if>
	    <![CDATA[        
	             rownum <= #{pageNum} * #{amount} order by goods_swId desc
	            )
	        where rn > (#{pageNum} - 1) * #{amount} 
	    ]]>
	      
 	</select>
 	<!-- 상품 총 갯수 -->
 	<select id="swGetTotal" resultType="int">
        select count(*) 
        from goods_sportswear
        <if test="keyword != null">
           where goods_swName like '%' || #{keyword} || '%'
        </if>
    </select> 
    
    <!-- 상세조회 -->
    <select id="swGetDetail" resultType="com.rpa.goods.sportswear.domain.SportswearDto">
		select * from goods_sportswear where goods_swId = #{goods_swId}
	</select>
	
	<!-- 수정 -->
	<update id="swModify">
		update goods_sportswear 
		set 
			goods_swName = #{goods_swName}, 
			goods_swPrice = #{goods_swPrice}, 
			goods_swStock = #{goods_swStock}, 
			goods_swDetail = #{goods_swDetail},
			goods_swDiscount = #{goods_swDiscount},
			goods_swUpdateDate = sysdate
		where goods_swID = #{goods_swID}
	</update>
	
	<!-- 삭제 -->
	<delete id="swRemove">
		delete from goods_sportswear
		where goods_swID = #{goods_swID}
	</delete>
	
	<!-- 이미지 등록 -->
	<insert id="imageEnroll">
		insert into RPA_image(goods_swID, fileName, uploadPath, uuid) 
		values 
		(#{goods_swID}, #{fileName}, #{uploadPath} ,#{uuid})
	</insert>
	
	<!-- 지정 상품 이미지 전체 삭제 --> 
	<delete id="deleteImageAll">
		delete FROM RPA_image where goods_swID = #{goods_swID}
	</delete>
	
	<!-- 어제 날자 이미지 리스트 -->
	<select id="checkFileList" resultType="com.rpa.goods.sportswear.domain.AttachImageVO">
		select * FROM RPA_image where uploadpath = to_char(sysdate -1, 'yyyy\mm\dd')	
	</select>
	
	<!-- 지정 상품 이미지 정보 얻기 -->
	<select id="getAttachInfo" resultType="com.rpa.goods.sportswear.domain.AttachImageVO">
		select * from RPA_image where goods_swID = #{goods_swID}
	</select>
	

  </mapper>